---
services:
  backrest:
    image: docker.io/garethgeorge/backrest:v1.11.2
    restart: unless-stopped
    ports:
      - 127.0.0.1:9898:9898
    volumes:
      - ${EXT_PATH}/backrest/data:/data
      - ${EXT_PATH}/backrest/config:/config
      - cache:/cache
      - ${EXT_PATH}:${EXT_PATH}
      # https://garethgeorge.github.io/backrest/cookbooks/ssh-remote
      - ${EXT_PATH}/backrest/ssh:/root/.ssh:ro
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - TZ=Europe/Berlin
    labels:
      caddy: backup.${DOMAIN}
      caddy.import: sso
      caddy.reverse_proxy: "127.0.0.1:9898"
      homepage.group: Infrastructure
      homepage.name: Backrest
      homepage.icon: backrest
      homepage.href: https://backup.${DOMAIN}
      homepage.description: Backup manager

volumes:
  cache:
