---
services:
  caddy:
    image: ghcr.io/gjhenrique/home-server/caddy:9c0a94d
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=Europe/Berlin
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - JWT_SHARED_KEY=${JWT_SHARED_KEY}
      - DOMAIN=${DOMAIN}
      - ALLOWED_EMAILS=${ALLOWED_EMAILS}
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ${EXT_PATH}/caddy/data:/data
      - ${EXT_PATH}/caddy/config:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    cap_add:
      - NET_ADMIN
